/api_geolocalizacao/node_modules
/api_geolocalizacao/.vscode
/avaliacao/node_modules
/mecanica/node_modules
/api_avaliacao/node_modules
/api_mecanica/node_modules
yarn.lock
/api_avaliacao/.expo/settings.json
